// Place all the styles related to the Fighter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$card-color: #ffd66f;

.fighter-card{
  margin: 0.2em;
  padding: 0.5em;
  border: solid black 2px;
  border-radius: 5px;
  background-color: $card-color;
  min-width: 14em;
}

.fighter-card.selected{
  border: solid green 2px;
}
.fighter-card.selected h2{
  color: green;
}